$background-color: #eef5ff;
$primary-color: #176b87;
$secondary-color: #f1962e;
$dark-tile-color: #82abbd;
$light-tile-color: #b8d0de;
$warning-color: #ffdd00;
$error-color: #d32f2f;
$text-color: #333;
