.sign-up-page {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__form-container {
    margin: auto;
    height: 95vh;
    display: flex;
  }
}

@media (max-width: 600px) {
  .sign-up-page {
    &__form-container {
      height: 100vh;
    }
  }
}
