.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__form-container {
    margin: auto;
    height: 80vh;
    display: flex;
  }

  &__backdrop {
    background-image: linear-gradient(
        125deg,
        rgba(241, 150, 46, 0.1),
        rgba(23, 107, 135, 0.3)
      ),
      url("../../assets/login-backdrop.jpg");
    background-size: cover;
    background-position: 0% 20%;
    width: 50vw;
  }
}

@media (max-width: 600px) {
  .login-page {
    &__form-container {
      height: 100vh;
    }
  }
}
